@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html, body {
  font-family: 'Silkscreen', cursive, Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(39, 41, 89);
  width: 100%;
  margin: 0;
  display: table;
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #dadfcd;
  font-size: 64px;
  text-shadow: 4px 4px black;
  margin-bottom: 0;
}

h3 {
  margin: 0;
  margin-left: 24px;
  color: #dadfcd;
}

h2, p {
  color: #dadfcd;
}

footer {
  color: #dadfcd;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

a {
  color: #dadfcd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeader {
  margin-top: 60px;
  text-align: center;
}

.subHeader {
  text-align: center;
}

.optionsMain {
  gap: 36px;
}

.weapon {
  margin-top: 80px;
  text-align: center;
  animation: moveToRight 1s ease-in-out;
  animation-duration: 0.5s;
}

@keyframes moveToRight {
  0% {
      transform: translateX(-200px);
  }
  100% {
      transform: translateX(opx);
  }
}

.newGameContainer {
  margin-top: 100px;
}

.toolButton {
  all: unset;
  cursor: pointer;
}

.toolButton:hover {
  transform: scale(1.1);
}

.wins {
  color: #dadfcd;
}

.userWins {
  position: absolute;
  bottom: 100px;
}

.computerWins {
  position: absolute;
  bottom: 76px;
}

.gameResult {
  margin-top:300px;
}

.roundResult {
  margin-top: 16px;
  color:#dadfcd;
}

.newGameButton {
  font-size: 16px;
  color: rgb(13, 0, 26);
  background-color: #dadfcd;
  cursor: pointer;
  border: 2px solid;
  padding: 4px 8px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  touch-action: manipulation;
}

.newGameButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

.icon{
  margin-left: 16px;
}

@media (min-width: 768px) {
  .newGameButton {
    padding: 0.25em 0.75em;
  }
}